node_modules
.next
npm-debug.log
yarn-error.log
.npm
.yarn
.turbo
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
*.md
.vscode
.idea
Dockerfile
docker-compose*.yml
.dockerignore
tsconfig.tsbuildinfo
coverage
dist
build
